nav .container-fluid a,
.logo,
.welcome h3 {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #cf23cf, #f32170, #4197bf, #448eee);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
body {
  font-family: "Heebo", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
}
.logo .img-holder {
  height: 40px;
  width: 40px;
}
::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #cf23cf, #f32170, #4197bf, #448eee);
}
::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.442);
}
.navbar .navbar-toggler {
  color: #4197bf;
  border: 1px solid #4197bf;
  transition: 1s;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
  color: var(--green-color);
  color: #cf23cf;
  border: 1px solid #cf23cf;
}
.advantegres,
.best-movie {
  background-image: linear-gradient(
    to right,
    #cf23cf,
    #f32172,
    #4197bf,
    #448eee
  );
}
.accordion-button:hover {
  background-color: #448eee;
  color: white;
  transition: 0.3s;
  border-radius: 0 !important;
}
.parent .carousel-item img {
  height: 450px;
  max-width: 100%;
}
.img {
  background-image: url(../imgs/spider-man-venom-black-background-marvel-superheroes-marvel-3840x2160-2954.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 40vh;
}

.home .carousel-item .img,
.img.tow,
.img.three,
.img.four {
  max-width: 100%;
  height: 90vh;
  background-position: center;
  -webkit-background-size: cover;
  -moz-backgeound-size: cover;
  -o-backgrond-size: cover;
  background-attachment: fixed;
  background-size: cover;
}
.home .carousel-item .img {
  background-image: url(../imgs/avatar-twow-videobg02_fae5d62e.jpeg);
}
.home .carousel-item .img.tow {
  background-image: url(../imgs/spider-man-dark-red-minimal-3840x2160-167.jpg);
}
.home .carousel-item .img.three {
  background-image: url(../imgs/a513797cc82c47712207d2ad75451467.jpg);
}
.home .carousel-item .img.four {
  background-image: url(../imgs/venom-marvel-comics-marvel-superheroes-black-background-5120x2880-7311.jpg);
}
@media (max-width: 776px) {
  .home .carousel-item .img {
    background-attachment: scroll;
    height: 90vh;
  }
  .img {
    background-attachment: scroll;
  }
  .home .img.one {
    background-position: right;
  }
  .home .carousel-caption {
    width: 50% !important;
  }
  .welcome p {
    width: 100% !important;
  }
  .parent {
    width: 80%;
  }
}
